video
 width 100%
 

// html body {
// 	background-color: black;
// 	color: white;
// }


#main-title {
	font-family: "platform";
}

@font-face {
    font-family: 'platform';
    src: url('/documentation/assets/fonts/Platform-Bold-Web.eot');
    src: url('/documentation/assets/fonts/Platform-Bold-Web.eot?#iefix') format('embedded-opentype'),
        url('/documentation/assets/fonts/Platform-Bold-Web.woff2') format('woff2'),
        url('/documentation/assets/fonts/Platform-Bold-Web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
  font-family: 'platform';
  src: url('/documentation/assets/fonts/Platform-Light-Web.eot');
  src: url('/documentation/assets/fonts/Platform-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('/documentation/assets/fonts/Platform-Light-Web.woff2') format('woff2'),
       url('/documentation/assets/fonts/Platform-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

html, body {

	color:black;
}

.site-name {
	font-family: "platform";
	color:black;
}


.home .hero img {
    max-height: 380px !important;
}


div[class*=language-] .highlight-lines .highlighted {
  background-color:rgba(255,255,255,.1);
}